.header-mobile-panel{

}
.header-mobile-panel__top{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-between;

    img   {
        max-width: 100%;
    }
    div {
        text-align: center;
        align-self: center;
    }
    i{
        color: #333333;
        font-size: 24px;
        padding: 0 5px;
    }
}

.header-mobile-panel__personal, .header-mobile-panel__basket{
    padding-top: 7px;
}

.header-mobile-panel__bottom{

    position: relative;
    border-radius: 0;

    input{
        width: 100%;
        display: block;
        margin: auto;
        padding: 5px 10px;
        border-radius: 0;
        border: #838383 solid 1px;

        &:focus-visible{
            outline: #606060;
        }

    }
    i{
        color:  #838383;
        position: absolute;
        top: 15%;
        right: 2%;
        font-size: 18px;
    }

}