.header{

}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1517px;
    border-bottom: 1px solid #808080;
}
.about img{
    max-width: 50%;
}
.about a{
    max-width: 30%;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
/*.about span{*/
/*    color: red;*/
/*    font-size: calc(8px  + 4 * (100vw / 1517));;*/
/*    background: #6fe3df;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 70%;*/
/*    padding: 2px;*/
/*}*/
.about span{
    padding: 0;
    color: #e10b0b;
    font-weight: 700;
    background-color: #6fe3df;
    border-radius: 15px;
    line-height: 18px;
    margin: 0;
    position: absolute;
    bottom: -7px;
    right: -14px;
    font-style: initial;
    height: 20px;
    min-width: 20px;
    text-align: center;
    border: 1px solid transparent;
}

.about i{
    color: #22373a;
    font-size: 20px;
    padding: 5px;
}
.about button{
    cursor: pointer;
    background: none;
    border: none;
    padding: 0 10px;
}
.searchForm{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
}
.searchForm div{
    background: #6fe3df;
    padding: 10px;
    border-radius: 20px;
}

.searchForm form{
    position: relative;
    min-width: 25%;
}
.searchForm form i {
    color: #808080;
    position: absolute;
    top: 20%;
    right: 3%;
    cursor: pointer;
    padding: 5px;
}
.searchForm form input{
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    color: #808080;
}

.navBar {
    display: flex;
    justify-content: space-between;
}

.navBar a {
    color: #606060;
}


@media (max-width: 900px) {
    .about img{
        max-width: 100%;
    }
}
@media (max-width: 450px) {
    .navBar a{
        font-size: 9px
    }
}

