*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: calc(12px  + 4 * (100vw / 1517));
}

.body{
    max-width: 1920px;
}

.text_primary{
    font-weight: 500;
}

.text_secondary{
    font-weight: 400;
}

@media (max-width: 767px) {
    *{
        font-size: calc(12px  + (4 + 4 * 0.7) * ((100vw - 380px) / 1517));
    }
}